<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DB.DatabaseActivity" />
        <activity android:name=".date_picker.DatePickerActivity" />
        <activity android:name=".shared_preferences.SharedPreferencesActivity" />
        <activity android:name=".SyncDemo.SyncMainActivity" />

        <!-- Register MyService -->
        <service
            android:name=".SyncDemo.service.MyService"
            android:enabled="true" />

        <!-- Register BroadCase Receiver -->
        <receiver
            android:name=".SyncDemo.BR.SampleBC"
            android:process=":remote"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity android:name=".send_CR.CRActivity" />
        <activity
            android:name=".ReportHandlers.ReportActivity"
            android:label="show"
            android:noHistory="true"
            android:process=":report_process"
            android:theme="@android:style/Theme.NoDisplay" />

        <provider
            android:name=".ReportHandlers.ReportFilesProvider"
            android:authorities="com.example.abcd.myapplication.ReportHandlers.filesprovider"
            android:exported="true"
            android:process=":report_process"
            tools:ignore="ExportedContentProvider" />

        <activity android:name=".SpinnerDemo.SpinnerActivity" />
        <activity android:name=".FABDemo.FABActivity" />
        <activity android:name=".RetrofitDemo.RetrofitDemoActivity" />
        <activity android:name=".mysqlDemo.MySQLDemoActivity"></activity>
    </application>

</manifest>